# --- For-Bot-Working --------- #
git+https://github.com/KurimuzonAkuma/pyrogram
pyrogram==2.0.106
tgCrypto
pyromod==1.5
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp
pip install -r requirements.txt
